<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALi0030</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0030.gif</string>
	<key>ALi0012</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0012.gif</string>
	<key>ALi0003</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0003.gif</string>
	<key>ALi0011</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0011.gif</string>
	<key>ALi0028</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0028.gif</string>
	<key>ALi0024</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0024.gif</string>
	<key>ALi0021</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0021.gif</string>
	<key>ALi0019</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0019.gif</string>
	<key>ALi0068</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0068.gif</string>
	<key>ALi0122</key>
	<string>http://www.a-li.com.cn/data/attachment/portal/emotion/0122.gif</string>
</dict>
</plist>
